<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- -->
  <add key="site.title" value="Your Site Title" />
  <!-- -->
  <add key="akismet.key" value="" />
  <add key="akismet.registeredsite" value="" />
  <!-- -->
  <add key="search.identifier" value="" />
  <add key="site.verification" value="" />
  <!-- -->
  <add key="google.analytics.key" value="" />
  <add key="google.analytics.domainName" value="" />
  <!-- -->
</appSettings>
