@{
    ViewBag.Title = "About";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae nisl vitae ipsum commodo ullamcorper. 
    Duis tincidunt, nibh eget consequat adipiscing, urna mi vulputate leo, eu aliquet nunc neque a erat. Quisque in 
    dignissim eros.
</p>
<p>
     Quisque et eleifend orci, vitae blandit arcu. Cras vel tincidunt magna. Ut aliquam pretium purus, lacinia 
    pulvinar sem sollicitudin a. Maecenas in pellentesque odio, vel porta dolor. Etiam a adipiscing justo, vitae 
    ultrices justo. Cras pellentesque, nunc eu porttitor tempor, turpis quam euismod eros, ac egestas enim lacus 
    in risus. Nam id augue gravida tortor rutrum egestas id in lorem. Donec eget convallis nibh, et laoreet nunc. 
    Proin a pellentesque purus. Etiam non lacinia sapien.
</p>
<p>
    Duis non blandit justo, at pulvinar orci. Suspendisse interdum commodo laoreet. Cras ac interdum justo. 
    Aliquam et tortor vel dolor sodales aliquam elementum et mi. Praesent sit amet est cursus, venenatis libero 
    a, varius lorem. Aliquam rutrum bibendum ligula, vel mattis ligula elementum nec. Vivamus feugiat pharetra 
    nunc, id aliquam diam dapibus nec. Proin tincidunt lacus orci, quis posuere ante lobortis a. Praesent vitae 
    ligula tellus. Quisque eu nunc ultrices, consequat libero at, bibendum diam. Curabitur eget velit felis. 
    Suspendisse massa nunc, vestibulum a nisl at, pellentesque faucibus est. Donec adipiscing ante ante, et 
    pretium leo auctor ut. Maecenas rhoncus aliquet lacus. Praesent euismod odio eget libero vestibulum blandit. 
</p>
