@{
    ViewBag.Title = "General";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<p class="lead">
    Look Dave, I can see you're really upset about this. I honestly think you ought to sit down calmly, 
    take a stress pill, and think things over.
</p>
 